<%= form_with model: invite, url: event_invites_path do |f| %>
    <%= f.collection_check_boxes(:user_ids, invitable_users, :id, :name) do |b| %>
        <li>
            <%= b.check_box %>
            <%= b.label %>
        </li>
    <% end %>
    <%= f.submit "Invite Users" %>
<% end %>