<% if flash[:invite_failures] %>
    <ul>
        <% flash[:invite_failures].each do |name| %>
            <li><%= name %></li>
        <% end %>
    </ul>
<% end %>

<h1>Invite Users to <%= @event.name %></h1>

<%= form_with model: @invite, url: event_invites_path do |f| %>
    <%= f.collection_check_boxes(:user_ids, @invitable_users, :id, :name) do |b| %>
        <li>
            <%= b.check_box %>
            <%= b.label %>
        </li>
    <% end %>
    <%= f.submit "Invite Users" %>
<% end %>

<h2>View Invites</h2>
<ul>
    <% @invites.each do |invite| %>
        <li><%= invite.invitee.name %></li>
    <% end %>
</ul>