<h1><%= @user.name %></h1>

<div class="box-gray p-2 grid grid-cols-2 gap-y-5">
    <div>
        <h2>Upcoming Hosted Events:</h2>
        <ul class="text-lg">
            <% @user.hosted_events.future.each do |event| %>
                <%= render "event_link", event: event %>
            <% end %>
        </ul>
    </div>
    
    <div>
        <h2>Upcoming Attending Events:</h2>
        <ul class="text-lg">
            <% @user.attending_events.future.each do |event| %>
                <%= render "event_link", event: event %>
            <% end %>
        </ul>
    </div>
    
    <div class="border-t">
        <h3>Past Hosted Events:</h3>
        <ul>
            <% @user.hosted_events.past.each do |event| %>
                <%= render "event_link", event: event %>
            <% end %>
        </ul>
    </div>
    
    <div class="border-t">
        <h3>Past Events Attended:</h3>
        <ul>
            <% @user.attending_events.past.each do |event| %>
                <%= render "event_link", event: event %>
            <% end %>
        </ul>
    </div>
</div>

