<h1><%= @user.name %></h1>

<h2>Upcoming Hosted Events:</h2>
<ul>
    <% @user.hosted_events.future.each do |event| %>
        <%= render "event_link", event: event %>
    <% end %>
</ul>
<h3>Past Hosted Events:</h3>
<ul>
    <% @user.hosted_events.past.each do |event| %>
        <%= render "event_link", event: event %>
    <% end %>
</ul>

<h2>Upcoming Attending Events:</h2>
<ul>
    <% @user.attending_events.future.each do |event| %>
        <%= render "event_link", event: event %>
    <% end %>
</ul>

<%# link_to "My Invites", user_invites_path(@user) if current_user == @user %>

<h3>Past Events Attended:</h3>
<ul>
    <% @user.attending_events.past.each do |event| %>
        <%= render "event_link", event: event %>
    <% end %>
</ul>

