<%= form_with model: event do |f| %>
    <div>
        <%= f.label :name, "Event Name:" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :datetime_of, "Event Date/Time:" %>
        <%= f.datetime_field :datetime_of, min: DateTime.now.strftime("%Y-%m-%d, %I:%M %P") %>
    </div>

    <div>
        <%= f.label :location, "Event Location:" %>
        <%= f.text_field :location %>
    </div>

    <div>
        <%= f.check_box :is_private %>
        <%= f.label :is_private, "Make this event private?" %>
    </div>

    <div>
        <%= f.label :description, "Description:" %>
        <%= f.text_area :description, size: "50x10" %>
    </div>
    
    <div><%= f.submit %></div>
<% end %>