<h1><%= @event.name %></h1>

<!-- Edit or Delete Event -->
<% if current_user == @event.host %>
    <div class="flex">
        <%= link_to "Edit", edit_event_path, class: "btn btn-blue" %>
        <%= button_to "Delete", event_path, form: { data: { turbo_confirm: "Are you sure you want to delete this event?" } }, method: :delete,
            class: "btn btn-red" %>
    </div>
<% end %>

<!-- Event Details -->
<p>Created by <%= @event.host.name %></p>
<p>Date/Time: <%= "#{@event.date_of} at #{@event.time_of}" %></p>
<p>Location: <%= @event.location %></p>
<% if @event.description.present? %>
    <p>Description: <%= @event.description %></p>
<% end %>

<!-- Event Attend/Invite -->
<%= render "attend", event: @event, invite: @invite %>

<!-- Manage Invites (Create/Revoke) -->
<%= link_to "Manage Invites", event_invites_path(@event) if current_user == @event.host %>

<!-- List of Attendees -->
<p>Attending this Event:</p>
<ul>
    <% @event.attendees.each do |user| %>
        <li><%= user.name %></li>
    <% end %>
</ul>

<!-- Cancel Attendance -->
<% if @event.attendees.include?(current_user) %>
    <%= button_to "Cancel Attendance", event_attendances_path(@event.id), method: :delete %>
<% end %>