<h1><%= @event.name %></h1>

<% if current_user == @event.host %>
    <%= link_to "Edit", edit_event_path %>
    <%= button_to "Delete", event_path, form: { data: { turbo_confirm: "Are you sure you want to delete this event?" } }, method: :delete %>
<% end %>

<p>Created by <%= @event.host.name %></p>
<p>Date/Time: <%= "#{@event.date_of} at #{@event.time_of}" %></p>
<p>Location: <%= @event.location %></p>
<% if @event.description.present? %>
    <p>Description: <%= @event.description %></p>
<% end %>

<%= link_to "Attend this Event", attend_path if @event.attendable? %>

<%= link_to "Manage Invites", event_invites_path(@event) if current_user == @event.host %>

<p>Attending this Event:</p>
<ul>
    <% @event.attendees.each do |user| %>
        <li><%= link_to user.name, user %></li>
    <% end %>
</ul>

<% if @event.attendees.include?(current_user) %>
    <%= button_to "Cancel Attendance", cancel_attend_path, method: :delete %>
<% end %>